<html>
    <head>
        <title>User</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class = "container">
            <div class = "jumbotron">
                 <h1>SignUp page </h1>
                 <form action = '/' method = 'POST'>
                 {{ form.as_p }}
                 {% csrf_token %}
                <input type="Submit" class ="btn btn-primary" value = 'Submit'>
                </form>
            </div>
        </div>
    </body>
</html>